<!DOCTYPE html>
<html>
    <head>
        <title> Welcome {{user.fname}} </title>    
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/pages.css">
        <link rel="stylesheet" href="/uniserv2.css">
    </head>
    <body>
        {{> header}}
        <h1> Hey, {{user.fname}} - Check out your profile below! </h1>
        <main>
            <!--<div class="card-deck mx-auto"> -->
                <provider>
                    <div class="card bg-dark mx-auto">
                        <img class="card-img-top mx-auto" src="avatar.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"> {{user.fname}} {{user.lname}} </h5>
                            <p class="card-text"> {{user.servicebio}} </p>
                        </div>
                        <div class="card-footer bg-light">
                            <p class="card-text"> Price: ${{user.price}} </p>
                            <small class="text-muted">Contact Me: {{user.ruemail}}</small>
                        </div>
                    </div>
                </provider>
           <!-- </div> -->
        </main>
    </body>
</html>


