<!DOCTYPE html>
<html>
    <head>
        <title>Photography</title>    
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/pages.css">
        <link rel="stylesheet" href="/uniserv2.css">
    </head>
    <body>
        {{> header}}
        <h1> Freelancers for Photography </h1>
        <main>
            <div class="card-deck mx-auto"> 
                {{#each providers}}
                <provider>
                    <div class="card">
                        <img class="card-img-top mx-auto" src="avatar.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"> {{fname}} {{lname}} </h5>
                            <p class="card-text"> {{servicebio}} </p>
                        </div>
                        <div class="card-footer">
                            <p class="card-text"> Price: ${{price}} </p>
                            <small class="text-muted">Contact Me: {{ruemail}}</small>
                        </div>
                    </div>
                </provider>
                {{/each}}
            </div>
        </main>
    </body>
</html>


